FeatureDatas/
images/
costdistor/适应度数据/
ensemble_2.0/训练参数/
**/test/
ais/csa/Experis/
**/codegen/

ais/csa/*.mat
zExperi/*.mat
**/*.prj
**/*.asv

*.jpg
*.bmp
*.vscode
*.bat
*.xml
*.xsd
*.exe
*.pl
*.pm
m3iregistry/
registry/
util/
win32/
win64/